<div class="post_thumbnail col-xs-4">
  <div class="img_display">
    <img src={{post.img_link}} alt={{post.title}}>
  </div>
  <div class="headline_display">
    <div class="center">
      <h4>{{post.title}}</h4>
    </div>
  </div>
</div>
