body {
  background-color: #F7F7F7;
  font-family: 'Nunito Sans', sans-serif;
}

.center {
  text-align: center;
}

.right-button {
  float: right;
}

.post_thumbnail {
  height: 250px;
  transition: .3s ease-in-out;
  margin-bottom: 30px;
}

.search_thumbnail {
  height: 250px;
  margin-bottom: 30px;
}

.post_thumbnail:hover {
  opacity: .75;
}

.img_display {
  width: 100%;
  height: 70%;
}

.search_img_display {
  width: 100%;
  height: 70%;
}

.img_display img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.search_img_display img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.headline_display {
  border: 1px solid white;
  margin: 0 auto;
  width: 85%;
  height: 30%;
  background-color: white;
}

footer {
  margin-top: 40px;
}

footer img {
  height: 40px;
}

footer li {
  display: inline;
  padding: 10px;
  list-style: none;
}
