<link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
<div class="container">
  <header class="jumbotron">
    <h1>Cage Match</h1>
  </header>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li>{{#link-to "index"}}Home{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
        <li>{{#link-to "contact"}}Contact{{/link-to}}</li>
        <li>{{#link-to "search"}}Search{{/link-to}}</li>
      </ul>
    </div>
  </nav>
  <body>
    {{outlet}}
  </body>
  <hr>
  <footer>
    <div class="center">
      <ul>
        <li><a href="https://www.facebook.com/Nicolas.cage.fan.Official/"><img src="http://ssscwestern.ca/wp-content/uploads/2014/10/Facebook-Circle-Logo.png" alt="Facebook logo" target="_blank"></a></li>
        <li><a href="https://twitter.com/nicolascagest?lang=en"><img src="http://goinkscape.com/wp-content/uploads/2015/07/twitter-logo-final.png" alt="Twitter logo" target="_blank"></a></li>
      </ul>
    </div>
  </footer>
</div>
